body,html {
    background-color: #F8F8F8;
    width:auto;
    height:auto;
    
}

.map iframe {
    width: 100%;
    margin-bottom: 0px;
    -webkit-filter: grayscale(75%);
    filter: grayscale(75%);
}