body,html {
    background-color: #E2E2F7;
    width:auto;
    height:auto;
    
}
h1 {
    left: 0;
    right: 0;
    position: absolute; 
    top: 25%;
    text-transform: uppercase;
    font-family: 'Couple', serif;
    font-weight: 300;
    font-size: 34px;
    letter-spacing: 3px;
    text-shadow: 3px 1px 3px rgba(0,0,0,0.5);
}
h2 {
    width: 50%;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding-top: 5%;
} 

.main_info {
    position: relative;
    margin: 0 auto;
    width: 80%;
    
}


#short_story {
    font-weight: 200;
    font-size: 22px;
    text-align:center ;
    float: left;
    width: 50%;
    padding-bottom: 10%;
    padding-top: 10%;
    font-family: 'Oswald', sans-serif;
}

.main_photo {
    display:inline-block;
    width: 50%;
    padding-bottom: 1%;
}

.main_photo img {
    margin: 0 auto;
    display: block;
    border-radius: 50%;
}

.aboutbutton { 
    margin: 0 auto;
    border: 1px solid #333;
    display: inline-block;
    padding: 5px 25px; 
    text-decoration: none; 
    color: #000;
    margin-bottom: 5%;
    font-family: 'Oswald', sans-serif;
}

.aboutbutton:hover {
    background: linear-gradient(to bottom, #A0A0A9, #A2A2A9);
   }
   
