body,html {
    background-color: #E3E3E9;;
    width:auto;
    height:auto;
}

.first_container{
    position: relative;
    padding-top: 2%;
    margin: 0 auto;
    width: 80%;
    height: 300px;
    padding-bottom: 3%;
}

.education{
    float: left;
    display: inline-block;
    width: 30%;
}

.universitet{
    float:left;
    display: inline-block;
    width: 50%;
}

.education h2 {
    font-size: 24px;
}
.universitet h1 {
    font-size: 16px;
}

.second_container{
    position: relative;
    padding-top: 2%;
    margin: 0 auto;
    width: 80%;
    height: 450px;
    padding-bottom: 3%;
}
.work_exp{
    float: left;
    display: inline-block;
    width: 30%;
}

.jobs{
    float:left;
    display: inline-block;
    width: 50%;
}

.work_exp h2 {
    font-size: 24px;
    
}
.jobs h2 {
    font-size: 16px;
}

.third_container{
    position: relative;
    padding-top: 2%;
    margin: 0 auto;
    width: 80%;
    height: 250px;
    padding-bottom: 3%;
}
.techno{
    float: left;
    display: inline-block;
    width: 30%;
}

.experience{
    float:left;
    display: inline-block;
    width: 50%;
}

.work_exp h2 {
    font-size: 24px;
    
}
.experience h2 {
    font-size: 16px;
}

main{
    font-family: 'Oxygen', sans-serif;
}
main ul {
   margin-left: 10%;
   padding-left: 20%;
}
main ul li{
   text-align: left;
}